In [1]:
l=[1,2,3,4,"liki","sudh",45.32]

In [2]:
for i in l:

    print(i)

1
2
3
4
liki
sudh
45.32

In [3]:
for i in l :
    
    
    
    pass

In [4]:
s="liki's"
for i in s:
    print(i)

l
i
k
i
'
s

In [5]:
for i in l:
    print(i)
else:
    print("if for loop is going to complete itself the it excecute else")

1
2
3
4
liki
sudh
45.32
if for loop is going to complete itself the it excecute else

In [6]:
l

[1, 2, 3, 4, 'liki', 'sudh', 45.32]

In [7]:
for i in l:
    if i==4:
        break
    print(i)
else:
    print("this will execeute only if for is going to complete itself")

1
2
3

In [8]:
s="lakshmisagara"
for i in s:
    if i =='m':
        break
    print(i)
else:
    print("print string")

l
a
k
s
h

In [9]:
t=(4,5,6,7,8,"liki")
for i in t:
    print(i)

4
5
6
7
8
liki

In [10]:
b={4,5,6,7,8,7,7,7,8,'liki'}

In [11]:
type(b)

set

In [12]:
b

{4, 5, 6, 7, 8, 'liki'}

In [13]:
for i in b:
    print(i)

liki
4
5
6
7
8

In [14]:
d={'key1':"liki",'contact':"8123235775",'email':"likithjack57"}
for i in d:
    
    print(i,":",d[i])

key1 : liki
contact : 8123235775
email : likithjack57

In [15]:
d['key1']

'liki'

In [16]:
range(9)

range(0, 9)

In [17]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [18]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [19]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [20]:
n=4
for i in range(n):
    for j in range (i+1):
        print("liki",end=" ")
    print("\n")

liki

liki liki

liki liki liki

liki liki liki liki

In [21]:
n=3
for i in range(n):
    for j in range (i,n-1):
        print(" "*len("liki"),end=" ")
    for j in range(i+1):
        print("liki",end=" ")
    for j in range(i):
        print("liki",end=" ")
        
  
    print()

          liki
     liki liki liki
liki liki liki liki liki

In [22]:
n=4
k=n
for i in range(n):
    k=k-1
    print('   '*k, end=" ")
    for j in

SyntaxError: invalid syntax (1259194929.py, line 6)

In [34]:
t=(3,23,45,67,2,4,5,6)

In [35]:
for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [36]:
s="ineuron"
for i in range(len(s)):
    print(i,s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [31]:
s="ineuron"
for i in range(len(s)-1,-1,-1):
        print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [32]:
list(range(len(s)-1,-1,-1))

[6, 5, 4, 3, 2, 1, 0]

In [33]:
for i in d.items():
    print(i,type(i),type(i[1]))

NameError: name 'd' is not defined

In [34]:
l=["liki","kumar",324567,"likithjack",345,345678]

In [35]:
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i)
print(l1)

[324567, 345, 345678]

In [36]:
d={1:234456,"name":"liki","email":"likithjack",234:"likikjj","45":"kumar",234:"sagar"}

In [37]:
d

{1: 234456, 'name': 'liki', 'email': 'likithjack', 234: 'sagar', '45': 'kumar'}

In [38]:

for i in d:
    if type(i)==int:
        print(i,":",d[i])

1 : 234456
234 : sagar

In [39]:
s="aaaabbccd"

In [40]:
for i in s:
    print(i,":",s.count(i))

a : 4
a : 4
a : 4
a : 4
b : 2
b : 2
c : 2
c : 2
d : 1

In [41]:
s.count("a")

4

In [42]:
i = 264538753874
for j in str(i):
    print(int(j),type(int(j)))

2 <class 'int'>
6 <class 'int'>
4 <class 'int'>
5 <class 'int'>
3 <class 'int'>
8 <class 'int'>
7 <class 'int'>
5 <class 'int'>
3 <class 'int'>
8 <class 'int'>
7 <class 'int'>
4 <class 'int'>

In [43]:
str(i)

'264538753874'

In [44]:
t=("liki","kumar",[1,2,3,4,5],(3,4,5,6),{3:3,"key1":"liki","key2":"kumar"})

In [45]:
for i in t:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j==3:
                 print(j)
    if type(i)==dict:
        for k,v in i.items():
            if k==3 or v==3:
                print(k)
                print(v)

3
3
3
3

In [46]:
d={4:5,"key1":"liki","key2":"kumar"}

In [47]:

for i in d.items():
    print(i)

(4, 5)
('key1', 'liki')
('key2', 'kumar')

In [48]:
d.items()

dict_items([(4, 5), ('key1', 'liki'), ('key2', 'kumar')])

In [49]:
a=10
b=20
c=30

In [50]:
a,b,c=10,20,30

In [51]:
a,b,c=(10,20,30)

In [52]:
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","data science"]]

In [53]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [90]:
##q1
n=int(input('enter the number of rows:'))
for i in range(n):
    for j in range(i):
        print("ineuron",end=" ")
    print()

enter the number of rows:5

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [147]:
##q2
n=int(input("enter number of rows ="))
for i in range(n):
    for j in range(i,n-1):
        print(" "*(len("ineuron")),end=" ")
    for j in range(i+1):
        print("ineuron"," "*(len("ineuron")),end=" ")
    for j in range(i):
        print(" "*(len("ineuron")),end=" ")
    
    print()
for i in range(n-2,-1,-1):
    for j in range(i,n-1):
        print(" "*(len("ineuron")),end=" ")
    for j in range (i+1):
        print("ineuron"," "*(len("ineuron")),end=" ")
    for j in range(i):
        print(" "*(len('ineuron')),end=" ")
    print()
    
    ## mistakes will cout dont worry
    ## i have just tried by seeing and modifying above codes

enter number of rows =3
                ineuron
        ineuron         ineuron
ineuron         ineuron         ineuron
        ineuron         ineuron
                ineuron

In [116]:
##q2
n = 3
for i in range(n):
    for j in range(i, n-1):
        print(" "*len('ineuron'), end=' ')
    for j in range(i+1):
        print('ineuron', end=' ')
    for j in range(i):
        print('ineuron', end=' ')
    print('\r')
for i in range(n-2, -1, -1):
    for j in range(i, n-1):
        print(" "*len('ineuron'), end=' ')
    for j in range(i+1):
        print('ineuron', end=' ')
    for j in range(i):
        print('ineuron', end=' ')
    print('\r')

                ineuron
        ineuron ineuron ineuron
ineuron ineuron ineuron ineuron ineuron
        ineuron ineuron ineuron
                ineuron

In [57]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [58]:
##q3
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [59]:
##q4
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [60]:
#q5
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [61]:
for i in l:
    if type(i)==set:
        print(i)

{45, 4, 5, 23}

In [160]:
#q6
l2=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                 l2.append(j)
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==int or type(v)==int:
                l2.append(k)
                l2.append(v)
print(l2)
            
        

            
        
        #can print dict key's but unable to print dict values.
     
        ##after 6 hours i can :)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [161]:
l2

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [162]:
#q7
l3=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                l3.append(j)
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==int or type(v)==int:
                l3.append(k)
                l3.append(v)
            
print(sum(l3))

156

In [163]:
l3

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [164]:
sum(l3)

156

In [165]:
#q8
l4=[]
for i in l:
    if type(i)==list:
        for j in i:
            if type(j)==int:
                l4.append(j)
l5=[]
l6=[]
for i in l4:
    if i%2==0:
        l5.append(i)
    else:
        l6.append(i)
print(l6)

[1, 3]

In [166]:
l4

[1, 2, 3, 4]

In [167]:
l5

[2, 4]

In [168]:
l6

[1, 3]

In [173]:
#q9
l7=[]
for i in l:
    if type(i)==list:
        for j in i:
            if j=="ineuron":
                l7.append(j)
    if type(i)==dict:
        for k,v in i.items():
            if v=="ineuron":
                l7.append(v)
                
for i in l7:
    if i=="ineuron":
        print(i)
print(l7)

ineuron
ineuron
['ineuron', 'ineuron']

In [72]:
#q11
l9=[]
for i in l:
    if type(i)==dict:
        for k,v in i.items():
            l9.append(k)
            print(k,":", l9.count(k))
print(l9)

k1 : 1
k2 : 1
k3 : 1
3 : 1
7 : 1
['k1', 'k2', 'k3', 3, 7]

In [73]:
#q10
l8=[]
for i in tuple(l):
    for j in i:
        l8.append(j)
    if type(i)==dict:
        for k,v in i.items():
            l8.append(v)
t=tuple(str(l8))
print(t)
' '.join(t)
for i in t:
    print(i,":",t.count(i))


##pin to pin occurence

('[', '1', ',', ' ', '2', ',', ' ', '3', ',', ' ', '4', ',', ' ', '2', ',', ' ', '3', ',', ' ', '4', ',', ' ', '5', ',', ' ', '6', ',', ' ', '3', ',', ' ', '4', ',', ' ', '5', ',', ' ', '6', ',', ' ', '7', ',', ' ', '4', '5', ',', ' ', '4', ',', ' ', '5', ',', ' ', '2', '3', ',', ' ', "'", 'k', '1', "'", ',', ' ', "'", 'k', '2', "'", ',', ' ', "'", 'k', '3', "'", ',', ' ', '3', ',', ' ', '7', ',', ' ', "'", 's', 'u', 'd', 'h', "'", ',', ' ', "'", 'i', 'n', 'e', 'u', 'r', 'o', 'n', "'", ',', ' ', "'", 'k', 'u', 'm', 'a', 'r', "'", ',', ' ', '6', ',', ' ', '8', ',', ' ', "'", 'i', 'n', 'e', 'u', 'r', 'o', 'n', "'", ',', ' ', "'", 'd', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e', ' ', "'", ']')
[ : 1
1 : 2
, : 29
  : 31
2 : 4
, : 29
  : 31
3 : 6
, : 29
  : 31
4 : 5
, : 29
  : 31
2 : 4
, : 29
  : 31
3 : 6
, : 29
  : 31
4 : 5
, : 29
  : 31
5 : 4
, : 29
  : 31
6 : 3
, : 29
  : 31
3 : 6
, : 29
  : 31
4 : 5
, : 29
  : 31
5 : 4
, : 29
  : 31
6 : 3
, : 29
  : 31
7 : 2
, : 29
  : 31
4 : 5
5 : 4
, : 29
  : 31
4 : 5
, : 29
  : 31
5 : 4
, : 29
  : 31
2 : 4
3 : 6
, : 29
  : 31
' : 16
k : 4
1 : 2
' : 16
, : 29
  : 31
' : 16
k : 4
2 : 4
' : 16
, : 29
  : 31
' : 16
k : 4
3 : 6
' : 16
, : 29
  : 31
3 : 6
, : 29
  : 31
7 : 2
, : 29
  : 31
' : 16
s : 2
u : 4
d : 2
h : 1
' : 16
, : 29
  : 31
' : 16
i : 3
n : 5
e : 4
u : 4
r : 3
o : 2
n : 5
' : 16
, : 29
  : 31
' : 16
k : 4
u : 4
m : 1
a : 3
r : 3
' : 16
, : 29
  : 31
6 : 3
, : 29
  : 31
8 : 1
, : 29
  : 31
' : 16
i : 3
n : 5
e : 4
u : 4
r : 3
o : 2
n : 5
' : 16
, : 29
  : 31
' : 16
d : 2
a : 3
t : 1
a : 3
  : 31
s : 2
c : 2
i : 3
e : 4
n : 5
c : 2
e : 4
  : 31
' : 16
] : 1

In [74]:
print(l8)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'k2', 'k3', 3, 7, 'sudh', 'ineuron', 'kumar', 6, 8, 'ineuron', 'data science ']

In [75]:
##normal occurence
##q10

In [76]:
for i in l8:
    print(i,":", l8.count(i))

1 : 1
2 : 2
3 : 4
4 : 4
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
45 : 1
4 : 4
5 : 3
23 : 1
k1 : 1
k2 : 1
k3 : 1
3 : 4
7 : 2
sudh : 1
ineuron : 2
kumar : 1
6 : 3
8 : 1
ineuron : 2
data science  : 1

In [77]:
##q11 done above
l9

['k1', 'k2', 'k3', 3, 7]

In [78]:
##q12
l10=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==str:
                l10.append(j)
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==str or type(v)==str:
                l10.append(k)
                l10.append(v)
print(l10)

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science ']

In [79]:
l10

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science ']

In [80]:
##q13
l11=[]
for i in l:
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==str:
                l11.append(k)
print(l11)

['k1', 'k2', 'k3']

In [205]:
##q14
l12=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                l12.append(j)
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==int or type(v)==int:
                l12.append(k)
                l12.append(v)
    
print(l12)
for i in (l12):
    print(i*i)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]
1
4
9
16
4
9
16
25
36
9
16
25
36
49
2025
16
25
529
9
36
49
64

In [181]:
l12

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [82]:
t1=tuple(l)
t1

([1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science '])

In [83]:

for i in t1:
    for j in i:
        print(j)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
k1
k2
k3
3
7
ineuron
data science

In [84]:
t=([1, 2, 3, 4],
 (2, 3, 4, 5, 6))

In [85]:
for i in t:
    for j in i:
        print(j)

1
2
3
4
2
3
4
5
6

In [86]:
##q15
l13=[]
for i in tuple(l):
    for j in i:
        l13.append(j)
    if type(i)==dict:
        for k,v in i.items():
            
            l13.append(v)
print(l13)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'k2', 'k3', 3, 7, 'sudh', 'ineuron', 'kumar', 6, 8, 'ineuron', 'data science ']